@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --MAIN: #00FF57;
    --SUB: #005B1F;
    --GRASS: #7CFC00;
    --BACKGROUDS: #1A1A1A;
    --FORMS: #2F2F2F;
    --INPUTS: #BABABA;

    --FONTE_PADRAO: "Montserrat", sans-serif;
    --FONTE_DESTAQUE: "Bebas Neue", sans-serif;
}

body {
    background-image: url("/app/static/images/imagemdefundotelainicial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--FONTE_PADRAO);
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    display: block;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    color: white;
    margin: 5px;
    font-size: 12px;
    width: 300px;
    text-align: start;
}
input {
    background-color: var(--INPUTS);
    color: white;
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 30px;
}
h1 {
    color: white;
}
.nome_do_site {
    color: white;
    font-family: var(--FONTE_PADRAO);
    margin-left: 10px;
}
.main_header {
    background-color: var(--BACKGROUDS);
    position: fixed ;
    top: 0;
    width: 100%;
    z-index: 3;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-bottom: .5px solid var(--labels-light-quaternary);
    box-sizing: border-box;
}
.button_cadastrese {
    color: var(--MAIN);
    text-decoration: none;
    margin-right: 10px;
    align-self: center;
}
.main_header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_header_nav{
    display: flex;
    align-items: center;
    flex: 1;
    height: 80px;
    box-sizing: border-box;
}
.a {
    height: 80px;
    width: 80px;
}
.main_header_nav_itens {
    display: flex;
    gap: 32px;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    color: white;
}
.logoheader {
    width: 80px;
}
.form-container {
    background-color: var(--FORMS);
    padding: 20px;
    border-radius: 20px;
    width: 350px;
    height: 180px;
    margin: 0 auto;
    margin-top: 200px;
}
.forgot-password {
    margin-bottom: 15px;
    width: 300px;
    text-align: start;
}
.forgot-password a {
    color: white;
    font-size: 11px;
}
.button_entrar {
    padding: 10px;
    background-color: var(--MAIN);
    color: white;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    align-self: center;
}
.button_entrar:hover {
     background-color: #00cc45;
}
.password-container {
    position: relative;
}
.eye-icon {
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px; 
}