@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --MAIN: #00FF57;
    --SUB: #005B1F;
    --GRASS: #7CFC00;
    --BACKGROUDS: #1A1A1A;
    --FORMS: #2F2F2F;
    --INPUTS: #BABABA;

    --FONTE_PADRAO: "Montserrat", sans-serif;
    --FONTE_DESTAQUE: "Bebas Neue", sans-serif;
}

body{
    background-image: url("/futpelada/app/static/images/imagemdefundotelainicial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    border: 0;
    margin: 0;
}

header {
    display: block;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.logoheader {
    width: 80px;
    height: 80px;
}

.image img {
    max-width: 100%; /* Para que a imagem se ajuste ao contêiner */
    height: auto; /* Para manter a proporção */
    margin-right: 210px;
}
.content {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    margin-left: 80px;
    color: white;
    font-size: 20px;
    font-family: var(--FONTE_PADRAO);
    width: 378px;
    height: 250px;
    text-align: center;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.text1, .text2 {
    margin: 0;
}
.button_e {
    padding: 10px 20px;
    background-color: var(--MAIN);
    color: var(--BACKGROUDS);
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
.button_c {
    text-decoration: none; 
    color: white;
    font-family: var(--FONTE_PADRAO);
}

.button_c:hover {
    color: var(--MAIN)
}
.button {
    display: abslute;
    background-color: var(--MAIN);
    color: var(--BACKGROUDS); 
    font-family: var(--FONTE_PADRAO);
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.button:hover {
    background-color: var(--SUB);
    color: white;
}

.nome_do_site {
    color: white;
    font-family: var(--FONTE_PADRAO);
    margin-left: 10px;
}

.main_header {
    background-color: var(--BACKGROUDS);
    position: fixed ;
    top: 0;
    width: 100%;
    z-index: 3;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-bottom: .5px solid var(--labels-light-quaternary);
    box-sizing: border-box;
}

.main_header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header_nav{
    display: flex;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
}

.main_header_nav_itens {
    display: flex;
    gap: 32px;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}