<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESQUECI MINHA SENHA</title>
    <link rel="stylesheet" href="/app/static/css/forgotpassword.css">
</head>
<body>
    <header class="main_header">

        <div class="main_header_nav">    
            <img class="logoheader" src="/app/static/images/logofutpeladaheader-removebg-preview.png" alt="logo futpelada">
            <h2 class="nome_do_site">FUTPELADA</h2>
        </div>
    </header>

    <main>
        <div class="main_container">
            <div class="container_contents">
                <form action="/enviar-email" method="POST">
                    <h2 class="title">Problemas para entrar?</h2>
                    <p class="text">Insira seu email ou nome de usuário <br>
                    e enviaremos um link para você conseguir <br>
                    recuperar sua senha
                    </p>
                    <div class="content_option">
                        <div class="input_button">
                            <input class="input" type="text" placeholder="Email ou nome de usuário" id="input_forgotpassword" name="input_forgotpassword" required>
                            <button id="submitbutton" class="button_cadastrar" type="submit">Enviar link para redefinição</button>
                        </div>
                        <div class="other_option">
                            <p class="ou">OU</p>
                            <a href="/app/templates/register.html">Criar nova conta</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>