<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUTPELADA</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="main_header">

        <div class="main_header_nav">    
            <img class="logoheader" src="/static/images/logofutpeladaheader-removebg-preview.png" alt="logo futpelada">
            <h2 class="nome_do_site">FUTPELADA</h2>
            <div class="main_header_nav_itens">
                <a href="/templates/tela_cadastro.html" class="button_c">CADASTRE-SE</a>
                <a href="/templates/tela_entrar.html" class="button">ENTRAR</a>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="image">
                <img src="/static/images/futpeladalogogranderecortada.png" alt="logo grande futpelada">
            </div>

            <div class="content">
                <h2 class="text1">ENCONTRE A PARTIDA IDEAL PARA VOCÊ!</h2>
                <p class="text2"><strong>CRIE</strong> SEU TIME, SEJA<strong> ÁRBITRO</strong>, <br>
                    SE <strong> DIVIRTA</strong> COM SEUS AMIGOS <br>
                    E FAÇA <strong> NOVOS COMPANHEIROS </strong> <br> DE TIME!
                </p>
                <a href="/templates/tela_cadastro.html" class="button_e">ENCONTRE SUA PELADA</a>
            </div>
        </div>
    </main>
    
</body>
</html>